.index-background{
	height:100vh;
	width:100vw;
	background-image: url(alex.jpg);
	background-position: center top;
	background-size: cover;
}

#research-background{
	width: auto;
	height: 500px;
	background-image: url(Untitled.jpg);
	background-position: center center;
	background-size: cover;
	overflow: hidden;
}